language: node_js
sudo: false
git:
  depth: 1
cache:
  directories:
    - $HOME/.npm
    - node_modules
matrix:
  include:
    - node_js: '8'
      script: npm run pretest
      env: CI=pretest
    - node_js: '8'
      script: npm run jest -- --runInBand  --coverage
      env: CI=coverage
    - node_js: '10'
      script: npm run jest -- --runInBand
      env: CI=tests 10
before_install:
  - npm install -g npm@latest
after_success:
  - if [ "$CI" = "coverage" ]; then cat ./.coverage/lcov.info | ./node_modules/.bin/coveralls; fi
